
@model PatientLibrary.Patient;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientDisplay</title>

</head>
<body>

    <h4>Patient's Name : </h4>
    @Model.name
    <h4>Patient's Address : </h4>
    @Model.address
</body>
</html>
